* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background: rgb(204, 187, 181);
  }
  
  /* Header */
  header {
    background-color: #333;
    background-image: url(https://images.unsplash.com/photo-1565772503717-7b8efc53f9b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
  }
  
  header img {
    width: 100px;
    height: 110px;
    border-radius: 6px;
  }
  
  /* Hamburger Menu Styles */
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .nav-menu {
    display: flex;
    justify-content: flex-end;
  
  }
  
  .nav-menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 700px;
  }
  
  .nav-menu li a {
    color: #5f2d2d;
    text-decoration: none;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: 300px;
  }

h1 {
    color: #5f2d2d;
    margin-left: 30px;
    text-align: center;
}

.parrafo {
  margin: 10px 20px;
  color: #5f2d2d; 
}

h2 {
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
  }
  
  main {
    padding: 2rem;
  }
  
  
  .informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    
  }

  .info-article {
    width: 300px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid;
    margin: 5px 1px;
  }
  
  .info-article img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 7px;
  }

  /* Footer */
footer {
    background-color: #8b7c7c;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    height: 100px;
  }

.name .copyright .social-links {
    margin-top: 20px;
    background-color: red;
}
  
  .social-links {
    list-style-type: none;
    padding: 0;
  }
  
  .social-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Responsive CSS */
  @media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
  
    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    }
  
    .nav-menu ul {
        flex-direction: column;
    }
  
    .nav-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
  
    .nav-menu li:last-child {
        margin-bottom: 0;
    }
  }
  

  